<form>
      <label>Username</label>
      <input class="loginInfo" type="text"/>
      <label>Password</label>
      <input class="loginInfo" type="password" />
      <input type="button" class="login" value="Login"/>
      <input type="button" value="Sign Up"></input>
</form>

<script src="./js/login.js"></script>