<form>
      <label>Username</label>
      <input type="text" />
      <label>Password</label>
      <input type="password" />
      <input type="button" value="Login"/>
      <input type="button" value="Sign Up"></input>
</form>