<div>
<form>
      <h2 class="loginHeader">Login</h2>
      <label>Username</label>
      <input class="loginInfo" type="text"/>
      <label>Password</label>
      <input class="loginInfo" type="password" />
      <input type="button" class="login" value="Login"/>
</form>
</div>
<div>
<form>
      <h2 class="loginHeader">Sign Up</h2>
      <label>Username</label>
      <input class="SignupInfo" type="text"/>
      <label>Password</label>
      <input class="SignupInfo" type="password" />
      <input type="button" class="signup" value="Sign Up"/>
</form>
</div>

<script src="./js/login.js"></script>
<script src="./js/signup.js"></script>